/* ---- fonts ---- */

@font-face {
  font-family:'Southbank';
  src:url("../fonts/SouthbankLT.ttf");
}
@font-face {
  font-family:'Dense';
  src:url("../fonts/Dense-Regular.otf");
}

/* ---- wrapper ----*/

html{box-sizing:border-box}*,*::after,*::before{box-sizing:inherit}
html{box-sizing:border-box}*,*::after,*::before{box-sizing:inherit}

@-webkit-keyframes race{
  0% {
      -webkit-transform:rotate(0deg) scale(1);
      transform:rotate(0deg) scale(1);
    }
  50% {
      -webkit-transform:rotate(45deg) scale(1.2);
      transform:rotate(45deg) scale(1.2);
    }
  75% {
      -webkit-transform:rotate(90deg) scale(1.2);
      transform:rotate(90deg) scale(1.2);
    }
  100% {
      -webkit-transform:rotate(360deg) scale(1);
      transform:rotate(360deg) scale(1);
    }
}

@keyframes race {
  0% {
    -webkit-transform:rotate(0deg) scale(1);
    transform:rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform:rotate(45deg) scale(1.2);
    transform:rotate(45deg) scale(1.2);
    }
  75% {
    -webkit-transform:rotate(90deg) scale(1.2);
    transform:rotate(90deg) scale(1.2);
  }

  100% {
    -webkit-transform:rotate(360deg) scale(1);
    transform:rotate(360deg) scale(1);
  }
}

/* ----  spinner ---- */

.spinner-wrapper{
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}

.spinner{
  background-color:#6daedb;
  border-radius:50%;
  height:99px;
  width:99px;
}

.spinner:after, .spinner:before{
  content:'';
  display:block;
  width:100px;
  height:100px;
  border-radius:50%;
}

.race:after{
  -webkit-animation: race 1100ms linear infinite;
  animation:race 1100ms linear infinite;
  border:4px solid transparent;
  border-top-color:#f583b5;
  border-bottom-color:#f583b5;
  left:0;
  top:0;
  position:absolute;
}

/* ---- banner-wrapper ---- */

.banner-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  width: 100vw;
  text-align: center;
  transition: opacity 500ms ease-in-out;
}

.banner-wrapper::after {
  clear: both;
  content: "";
  display: block;
}

/* ---- banner-text ----*/

.banner-text h1{
  color: #2892d7;
  font-family: 'Southbank';
  font-size: 5.6rem;
  margin-bottom: 15px;
}

.banner-text p {
  color: #6daedb;
  font-size: 2.7em;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

/* ---- banner-social ----*/

.banner-social {
  font-size:2.7rem;
 }
.banner-social span {
  color :#d7ebf7;
  margin: 35px 4.5%;
}
.banner-social span:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---- debug ---- */

/*{
  background-color: rgba(0, 0, 0, 0.1);
}*/

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  /*background-color: #486375;*/
  background-color: #1b4353  ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}

/* ---- adaptive ---- */

@media (max-width: 320px) {
  .banner-social { font-size: 1.6em }
  .banner-text h1{ font-size: 3em }
  .banner-text p { font-size: 2em }
}

@media (min-width: 768px) {
  .banner-social { font-size:4.2rem }
  .banner-social span { margin:55px 4.5% }
  .banner-text h1 {
    font-size: 8.4rem;
    letter-spacing: 9px;
    word-spacing: 13px;
    }
  .banner-text p { font-size:3.6rem };
}


/* ---- main ---- */

html{
  font-family:'Dense', Helvetica, sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- addition ---- */

.banner-wrapper.loaded {
  opacity: 1;
}

.title {
  position: relative;
  font-size: 32px;
  color: #fff;
  width: 20em;
  top: 5em;
  margin: 0 auto;
}

.hide {
  display:none;
  transition:all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
