/* ---- fonts ---- */

@font-face {
  font-family:'Bushcraft';
  src:url("../fonts/Bushcraft-textured.otf");
}
@font-face {
  font-family:'Dense';
  src:url("../fonts/Dense-Regular.otf");
}

/* ---- animation keyframes ----*/

html{box-sizing:border-box}*,*::after,*::before{box-sizing:inherit}
html{box-sizing:border-box}*,*::after,*::before{box-sizing:inherit}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes shadowspin {
   0% {  transform:rotate(0deg);
     box-shadow:inset 0px 0px 15px rgba(234, 186, 107,1); }
    55% { box-shadow:inset 0px 0px 35px rgba(234, 186, 107,0.5); }

   100% { transform:rotate(360deg);
     box-shadow:inset 0px 0px 15px rgba(234, 186, 107,1); }
}
@-moz-keyframes shadowspin {
   0% { -moz-transform:rotate(0deg);
     box-shadow:inset 0px 0px 15px rgba(234, 186, 107,1); }

    55% { box-shadow:inset 0px 0px 35px rgba(234, 186, 107); }

   100% {
    -moz-transform:rotate(360deg);
    box-shadow:inset 0px 0px 15px rgba(234, 186, 107,1); }
}
@-webkit-keyframes shadowspin {
   0% {-webkit-transform:rotate(0deg);
       box-shadow:inset 0px 0px 25px rgba(234, 186, 107,1); }

   55% { box-shadow:inset 0px 0px 5px rgba(234, 186, 107,0.5); }

   100% {-webkit-transform:rotate(360deg);
       box-shadow:inset 0px 0px 25px rgba(234, 186, 107,1); }
}

/* ----  spinner ---- */

.spinner-wrapper{
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}

.spinner{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  margin: 20% auto;
  border: 8px solid transparent;
  border-top:8px  solid rgba(234, 225, 164,1);
  border-left:8px  solid rgba(234, 225, 164,.4);
  border-bottom:8px  solid rgba(234, 225, 164,1);
  border-right:8px  solid rgba(234, 225, 164,.4);
  animation: shadowspin .8s linear infinite;
  -webkit-animation: shadowspin .8s linear infinite;
}

body {
  background-color: #173753;
}

/* ---- banner-wrapper ---- */

.banner-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  width: 100vw;
  text-align: center;
  transition: opacity 500ms ease-in-out;
}

.banner-wrapper::after {
  clear: both;
  content: "";
  display: block;
}

/* ---- banner-text ----*/

.banner-text h1{
  opacity: 0.8;
  color: #eaba6b;
  font-family: 'Bushcraft';
  font-size: 8vw;
  margin-bottom: 15px;
  margin-top: 5px;
}

.banner-text p {
  color: #f1d3a0;
  font-size: 2.7vw;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

/* ----  banner-logo  ----*/

.banner-logo {
  position:static;
  height: 25%;
  width: 100%;
  display: inline-block;
  -webkit-mask: url(../assets/svg/mountain.svg) no-repeat 50% 50%;
  mask: url(../assets/svg/mountain.svg) no-repeat 50% 50%;
  -webkit-mask-size: 60vw 15vw;
  mask-size: 60vw 15vw;
}

.logo-colored { background-color: #f0f3bd; }

/* ---- banner-social ----*/

.banner-social {
  font-size:2.7vw;
 }
.banner-social span {
  color :#f1e2ca;
  margin: 35px 4.5%;
}
.banner-social span:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
ali
}


/* ---- debug ---- */

/*{
  background-color: rgba(0, 0, 0, 0.1);
}*


/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #173753;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}

/* ---- adaptive ---- */

@media (max-width: 320px) {
  .logo {
    mask-size: 15em 5em;
    width: 100%;
    height: 20%;
  }
  .banner-social { font-size: 1.4em }
  .banner-text h1{ font-size: 2.3em }
  .banner-text p { font-size: 1.4em }
}

@media (min-width: 325px) and (max-width: 375px) {
  .logo {
    mask-size: 17.5em 6.25em;
    width: 100%;
    height: 20%;
  }
  .banner-social { font-size: 1.8em }
  .banner-text h1{ font-size: 2.7em }
  .banner-text p { font-size: 1.8em }
}

@media (min-width: 376px) and (max-width: 420px) {
  .logo {
    mask-size: 20em 7.5em;
    width: 100%;
    height: 20%;
  }
  .banner-social { font-size: 2em }
  .banner-text h1{ font-size: 2.9em }
  .banner-text p { font-size: 2em }
}

/* ---- basic html  ---- */

html{
  font-family:'Dense', Helvetica, sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- addition ---- */

.banner-wrapper.loaded {
  opacity: 1;
}

.title {
  position: relative;
  font-size: 32px;
  color: #fff;
  width: 20em;
  top: 5em;
  margin: 0 auto;
}

.hide {
  display:none;
  transition:all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
