/* ---- fonts ---- */

@font-face {
  font-family:'Southbank';
  src:url("../fonts/SouthbankLT.ttf");
}
@font-face {
  font-family:'Dense';
  src:url("../fonts/Dense-Regular.otf");
}

/* ---- wrapper ----*/

html{box-sizing:border-box}*,*::after,*::before{box-sizing:inherit}
html{box-sizing:border-box}*,*::after,*::before{box-sizing:inherit}

@-webkit-keyframes race{
  0% {
      -webkit-transform:rotate(0deg) scale(1);
      transform:rotate(0deg) scale(1);
    }
  50% {
      -webkit-transform:rotate(45deg) scale(1.2);
      transform:rotate(45deg) scale(1.2);
    }
  75% {
      -webkit-transform:rotate(90deg) scale(1.2);
      transform:rotate(90deg) scale(1.2);
    }
  100% {
      -webkit-transform:rotate(360deg) scale(1);
      transform:rotate(360deg) scale(1);
    }
}

@keyframes race {
  0% {
    -webkit-transform:rotate(0deg) scale(1);
    transform:rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform:rotate(45deg) scale(1.2);
    transform:rotate(45deg) scale(1.2);
    }
  75% {
    -webkit-transform:rotate(90deg) scale(1.2);
    transform:rotate(90deg) scale(1.2);
  }

  100% {
    -webkit-transform:rotate(360deg) scale(1);
    transform:rotate(360deg) scale(1);
  }
}

/* ----  spinner ---- */

.spinner-wrapper{
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}

.spinner{
  background-color:#6daedb;
  border-radius:50%;
  height:99px;
  width:99px;
}

.spinner:after, .spinner:before{
  content:'';
  display:block;
  width:100px;
  height:100px;
  border-radius:50%;
}

.race:after{
  -webkit-animation: race 1100ms linear infinite;
  animation:race 1100ms linear infinite;
  border:4px solid transparent;
  border-top-color:#f583b5;
  border-bottom-color:#f583b5;
  left:0;
  top:0;
  position:absolute;
}

/* ---- banner ---- */

.banner-wrapper {
  opacity: 0;
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner-text h1{
  color: #2892d7;
  font-family: 'Southbank';
  font-size: 5.6rem;
  margin-bottom: 15px;
}

.banner-text p {
  color: #6daedb;
  font-size: 2.7em;
  letter-spacing: 1.5px;
  line-height: 1.5;
}
/* ---- debug ---- */

/*{
  background-color: rgba(0, 0, 0, 0.1);
}*/

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  /*background-color: #486375;*/
  background-color: #1b4353  ;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- main ---- */

html{
  font-family:'Dense', Helvetica, sans-serif;
  font-size: 95%;
}

body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- addition ---- */

.banner-wrapper.loaded {
  opacity: 1;
}

.title {
  position: relative;
  font-size: 32px;
  color: #fff;
  width: 20em;
  top: 5em;
  margin: 0 auto;
}

.hide {
  display:none;
  transition:all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
